.container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  background-color: #ccccff;
  margin: auto auto;
}

.buttonContainer {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
}

.button {
  margin: auto;
  padding: 5px;
  border-width: 3px;
  border-color: rgba(255, 255, 255, 0.6);
  border-style: solid;
  color: rgba(255, 255, 255, 0.6);
  background-color: #ccccff;
  font-size: 32px;
  transition: 200ms;
  cursor: pointer;
}

.content {
  display: flex;
  flex-direction: row;
}

.buttonSelected {
  margin: auto;
  padding: 5px;
  border-width: 3px;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  color: rgba(255, 255, 255, 1);
  background-color: #ccccff;
  font-size: 32px;
  transition: 200ms;
  cursor: pointer;
}

.button:hover,
.button:focus {
  border-color: #ffffff;
  color: #ffffff;
}

.image {
  width: 30vw;
  height: 30vw;
  display: flex;
  border-radius: 20px;
  margin: auto auto;
  resize: initial;
}

.gallery {
  width: 36vw;
  height: 36vw;
  display: flex;
  flex-direction: column;
  margin: auto auto;
}